<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="~/chartLoader.js"></script>
</head>
<body>
    <div id="chartdiv" style="width: 600px; height: 350px;">
    </div>
</body>
