<head>
    @* Import JQUERY (needed for Google Charts to work) *@
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    @* Import Google Charts *@
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    @* Import chartLoader.js from "wwwroot" folder *@
    <script type="text/javascript" src="~/chartLoader.js"></script>
</head>

<body>
    <h1>Bitcoin Price Tracker</h1>
    <h3>Hourly and Live Bitcoin Price Tracking</h3>

    @* Hourly Bitcoin price Chart *@
    <div id="chartdiv" style="width: 600px; height: 350px;">
    </div>

    @* Live Bitcoin Price Chart *@
    <div id="live-chartdiv" style="width: 600px; height: 350px;">
    </div>

    <h3>Technologies Used</h3>
    <ul>
        <li>Framework: ASP.NET Core</li>
        <li>Charts: Google Charts</li>
        <li>Data: CryptoCompare.com API</li>
        <li>Languages: C#, Javascript</li>
        <li>Testing: Moq, XUnit</li>
    </ul>
    <hr />
    <h3>Methodology</h3>
    <p> AJAX calls from the front-end query their respective counterpart action on the back-end. </p>
    <p> The back-end action then queries CryptoCompare's api.</p>
    <p> The back-end action then formats CryptoCompare's response into a simpler model.</p>
    <p> The new models are passed back to the front-end as JSON.</p>
    <p> The JSON is passed into Google Charts to Render to the page.</p>
    <p> Each charting method recursively calls itself after a specified amount of time to update and redraw.</p>
</body>
